[build-system]
requires = ["flit_core >=3.2,<4",
    "tqdm>=4.65.0",
    "numpy>=1.23.5",
    "torch>=2.0.1",
    "torchdiffeq>=0.2.3",
    "joblib>=1.2.0",
    "keras>=2.12.0",
    "tensorflow",
    "seaborn>=0.12.2",
    "scipy>=1.10.1",
    "scikit-learn>=1.2.2",
    "cellpylib",
    "matplotlib",
    "pandas",
    "networkx",
    "rebound",
    "ndlib",
    "pydmd",
    "pysindy"]
build-backend = "flit_core.buildapi"

[project]
name = "dynadojo"
authors = [{name = "LB", email = "loganmb@stanford.edu"},
    {name = "TB", email = "tbru@stanford.edu"},]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]

[project.urls]
Home = "https://github.com/FlyingWorkshop/dynadojo/tree/main"
